language: php

php:
  - 7.4
  - 8.0
  - 8.1

before_script:
  - composer self-update
  - composer install --prefer-source --no-interaction --dev

script: phpunit --coverage-text --coverage-clover=coverage.clover