name: CI / Static

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  validation:
    name: "Static PHP Validation"
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        php-version: [
          '8.2',
          '8.3',
          '8.4'
        ]

    steps:
      - uses: actions/checkout@v6

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-version }}
          coverage: pcov
          extensions: dom, libxml, simplexml
          tools: composer:v2

      - name: Composer get cache directory
        id: composer-cache
        run: |
          echo "dir=$(composer config cache-files-dir)" >> $GITHUB_OUTPUT

      - name: Composer cache
        uses: actions/cache@v4
        with:
          path: ${{ steps.composer-cache.outputs.dir }}
          key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.lock') }}
          restore-keys: |
            ${{ runner.os }}-composer-

      - name: Composer validate
        run: composer validate

      - name: Composer install
        run: composer install --no-scripts

      - name: Run PHP Parallel Lint
        run: vendor/bin/parallel-lint src/

      - name: Run CodeStyle checks
        run: composer run cs:check

      - name: Run PHPStan check
        run: composer run phpstan:check

      - name: Run Rector check
        run: composer run rector:check

      - name: Run PhpUnit tests
        run: composer run phpunit:test

      - name: Run Security check
        run: composer run security:check
